@import "~materialize-css/dist/css/materialize.min.css";

.cursor-pointer {
  cursor: pointer;
}

.va-middle {
  vertical-align: middle;
}

.rotated {
  transform: rotate(180deg);
}

th {
  min-width: 120px;
}

th i {
  vertical-align: middle;
}